# Sample configuration file for ENDIT
# Note, comments have to start with # in the first character of the line
# Otherwise, simple "key: value" pairs

# dir is the base dir, with the directories "in", "out", "pool", "request", etc
dir: /grid/pool/
logdir: /var/log/dcache/

# Require this much stored before migrating to tape, in gigabytes
minusage: 500
# Or push to tape anyway after these many seconds
timeout: 7200

# Sleep for this many seconds between each cycle, reasonable range 10-1000
sleeptime: 60

# options to dsmc, ", "-delimited list.
dsmcopts: -asnode=MIGRTEST, -errorlogname=/var/log/dcache/dsmerror.log

# Maximum number of concurrent dsmc retrievers
maxretrievers: 4

# Tape hints file for concurrent dsmc retrievers. Generate using
# tsm_getvolumecontent.pl for the -asnode user you configured in dsmcopts.
tapefile: /var/spool/endit/tapehints/MIGRTEST.txt

# When in concurrent mode, don't remount tapes more often than this, seconds
remounttime: 600

# Enable verbose logging
# verbose: 1
