[Unit]
Description=ENDIT retriever process
Documentation=https://github.com/neicnordic/endit
After=network-online.target nss-lookup.target nss-user-lookup.target remote-fs.target

[Service]
Type=simple
#Environment="ENDIT_CONFIG=/path/to/endit.conf"
#Environment="DSM_CONFIG=/path/to/dsm.opt"
ExecStart=/opt/endit/tsmretriever.pl
#Restart=on-failure
User=dcache

[Install]
RequiredBy=endit.target
