[Unit]
Description=ENDIT retriever process
Documentation=https://github.com/neicnordic/endit
Requisite=dcache.service
After=dcache.service

[Service]
Type=simple
#Environment="ENDIT_CONFIG=/path/to/endit.conf"
ExecStart=/opt/endit/tsmretriever.pl
#Restart=on-failure
User=dcache

[Install]
RequiredBy=endit.target
