[Unit]
Description=ENDIT running
Documentation=https://github.com/maswan/endit
Requisite=dcache.service
After=dcache.service

[Install]
WantedBy=multi-user.target
Also=endit-archiver.service
Also=endit-deleter.service
Also=endit-retriever.service
