[Unit]
Description=ENDIT deleter process
Documentation=https://github.com/maswan/endit
Requisite=dcache.service
After=dcache.service

[Service]
Type=simple
ExecStart=/opt/endit/tsmdeleter.pl
#Restart=on-failure
User=dcache

[Install]
RequiredBy=endit.target
